/*

font-family: 'Unica One', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Sacramento', cursive;

*/


nav {
  background-color: #42321D;
  box-shadow: 2px 2px 7px black;
  font-family: 'Sacramento', cursive;
}

.parallax-container {
  height: 100vh;
}

#menu-items a {
  font-family: 'Unica One', cursive;
}

.section {
  font-family: 'Unica One', cursive;
  background-color: #C2B088;
  box-shadow: 2px 2px 7px black;
}
